<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Friends, Fake Doctors BINGO Sheet</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <h1 class='title'>Real Friends, Fake Doctors</h1>
    <hr />
    <h2 class='title subtitle'>Scrubs Rewatch Show with Zach and Donald
        <h3 class='title subtitle'>The BINGO Sheet!</h3>
    </h2>

    <table class='table'>
        <tr id='header'>
            <th> B </th>
            <th> I </th>
            <th> N </th>
            <th> G </th>
            <th> O </th>
        </tr>
        <tr id='row1'>
            <td id="sq0 b1" onClick="selectSquare('sq0')"> </td>
            <td id="sq1" onClick="selectSquare('sq1')"> </td>
            <td id="sq2" onClick="selectSquare('sq2')"> </td>
            <td id="sq3" onClick="selectSquare('sq3')"> </td>
            <td id="sq4" onClick="selectSquare('sq4')"> </td>
        </tr>
        <tr id='row2'>
            <td id="sq5 b2" onClick="selectSquare('sq5')"> </td>
            <td id="sq6" onClick="selectSquare('sq6')"> </td>
            <td id="sq7" onClick="selectSquare('sq7')"> </td>
            <td id="sq8" onClick="selectSquare('sq8')"> </td>
            <td id="sq9" onClick="selectSquare('sq9')"> </td>
        </tr>
        <tr id='row3'>
            <td id="sq10 b3" onClick="selectSquare('sq10')"> </td>
            <td id="sq11" onClick="selectSquare('sq11')"> </td>
            <td class='marked' id="freeSpace">FREE SPACE</td>
            <td id="sq12" onClick="selectSquare('sq12')"> </td>
            <td id="sq13" onClick="selectSquare('sq13')"> </td>
        </tr>
        <tr id='row4'>
            <td id="sq14" onClick="selectSquare('sq14')"> </td>
            <td id="sq15" onClick="selectSquare('sq15')"> </td>
            <td id="sq16" onClick="selectSquare('sq16')"> </td>
            <td id="sq17" onClick="selectSquare('sq17')"> </td>
            <td id="sq18" onClick="selectSquare('sq18')"> </td>
        </tr>
        <tr id='row5'>
            <td id="sq19" onClick="selectSquare('sq19')"> </td>
            <td id="sq20" onClick="selectSquare('sq20')"> </td>
            <td id="sq21" onClick="selectSquare('sq21')"> </td>
            <td id="sq22" onClick="selectSquare('sq22')"> </td>
            <td id="sq23" onClick="selectSquare('sq23')"> </td>
        </tr>

    </table>

    <button id='button' onClick='buttonClick()'> GENERATE NEW BINGO BOARD! </button>

    <script src='./script.js'></script>
</body>

</html>